.banner-max {
  padding: 0.5rem 0;
  background: var(--color-primary);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__meta-icon {
  display: flex;
  align-items: center;
  color: #0000ff;
  font-size: 3rem;
}

.banner__column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.banner__hours-icon {
  display: flex;
  align-items: center;
  color: #0000ff;
  font-size: 1.2rem;
}

.banner__address-icon,
.banner__contact-icon {
  display: flex;
  align-items: center;
  color: #0000ff;
  font-size: 2rem;
}

.banner__hours-text p,
.banner__address-text p {
  font-size: 1.3rem;
}

.banner__contact-text p {
  font-size: 2rem;
}

.banner__address-text a {
  color: #000000;
  text-decoration: none;
}
