/* row 1 */
.sectionRow1 {
  background: var(--color-headfoot);
}

.containerRow1.containerRow1 {
  padding: 3rem 0rem;
  align-items: stretch;
  gap: 5rem;
}

.footerCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerCol1 {
  width: 40%;
}

.col1Logo {
  width: 30%;
}

.footerCol p,
.footerCol h3 {
  color: var(--color-text1);
}

/* row 1 col2 */
.rowIconText {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.col2Icon {
  display: flex;
}

.col2Icon svg {
  width: 2rem;
  height: 2rem;
  color: var(--color-icon1);
}

.col2Text a {
  color: var(--color-text1);
  text-decoration: none;
}

.col2Text a:hover {
  text-decoration: underline;
}

/* row 1 col 3 */
.footerCol3 {
  justify-content: space-between;
}

.col3Text,
.social {
  display: flex;
  flex-direction: column;
}

.col3Text {
  gap: 1rem;
}

.social {
  gap: 0.5rem;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socialIcon {
  display: flex;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--color-icon1);
}

.socialIcon a {
  display: flex;
}

.socialIcon svg {
  width: 2.75rem;
  height: 2.75rem;
  color: var(--color-icon3);
}

/* row 2 */
.sectionRow2 {
  background: var(--color-primary);
}

.containerRow2.containerRow2 {
  padding: 1rem 0rem;
}

.containerRow2 p {
  color: var(--color-text2);
}
