/* row 1 */
.sectionRow1 {
  background: #f0f0f0;
}

.containerRow1.containerRow1 {
  padding: 3rem 0rem;
  align-items: flex-start;
  gap: 5rem;
}

.footerCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footerCol1 {
  width: 40%;
}

.colIconText {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.col1Logo {
  width: 30%;
}

.col1Text p {
  font-size: 2rem;
}

.col1Icon a {
  display: flex;
  color: #0000ff;
  text-decoration: none;
  font-size: 3rem;
}

/* row 1 col2 & col 3*/
.colIconText p {
  font-size: 2rem;
}

.col2Icon {
  font-size: 1.8rem;
  display: flex;
}

.col2Text a {
  color: #000000;
  text-decoration: none;
}

/* row 2 */
.sectionRow2 {
  background: var(--color-primary);
}

.containerRow2.containerRow2 {
  padding: 1rem 0rem;
}
