.sectionBanner {
  background: var(--color-primary);
}

.containerBanner.containerBanner {
  padding: 1rem 0rem;
}

.bannerIcon svg {
  color: var(--color-icon3);
}

.metaIcon svg {
  width: 5rem;
  height: 5rem;
}

.hoursIcon svg {
  width: 1.6rem;
  height: 1.6rem;
}

.addressIcon svg,
.contactIcon svg {
  width: 3rem;
  height: 3rem;
}

.rowIconText {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.metaIcon a,
.bannerIcon {
  display: flex;
}

.hours p,
.address a,
.contact a {
  color: var(--color-text2);
}

.hours p,
.addresss a {
  font-size: 2rem;
}

.contact a {
  font-size: 3rem;
}

.address a,
.contact a {
  text-decoration: none;
}

.address a:hover,
.contact a:hover {
  text-decoration: underline;
}
