.sectionBanner {
  background: var(--color-primary);
}

.containerBanner.containerBanner {
  padding: 1rem 0rem;
}

.bannerRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bannerIcon {
  display: flex;
  color: var(--color-icon1);
}

.metaIcon {
  font-size: 5rem;
}

.hoursIcon {
  font-size: 1.6rem;
}

.addressIcon,
.contactIcon {
  font-size: 3rem;
}

.containerBanner p {
  color: var(--color-text2);
}

.hours p,
.address p {
  font-size: 2rem;
}

.contact p {
  font-size: 3rem;
}

.address a {
  text-decoration: none;
}

.address a:hover {
  text-decoration: none;
}
