.home__header-max {
  padding: 5rem 0;
}

.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__header p {
  width: 50%;
  padding: 0.5rem 0;
}

.home__header-img {
  width: 50%;
  padding: 3.5rem 0 0 0;
}

.home__info-max {
  padding: 5rem 0;
  background: var(--color-primary);
}

.home__info {
  display: flex;
  justify-content: space-around;
}

.home__info-icon {
  font-size: 3rem;
  color: #ffff00;
}

.home__info h2 {
  font-size: 1.8rem;
}

.home__info p {
  font-size: 1.3rem;
}

.home__services-max {
  padding: 5rem 0;
}

.home__services-text {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.home__callback-max {
  padding: 5rem 0;
  background-image: url(../../assets/callback.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home__callback {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__callback-text {
  width: 40%;
  color: #f4f4f4;
  font-size: 1.1vw;
}

.home__callback-form h2 {
  padding: 0.5rem 0;
  background-color: #f4f4f4;
  text-align: center;
}
