.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__map {
  width: 50%;
  /* height: auto; */
  line-height: 0;
}

.contact__map iframe {
  width: 100%;
  height: 60vh;
}
