.mainPageError {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionPageError {
  border: 1px solid var(--color-secondary);
  border-radius: 1.5rem;
}

.containerPageError.containerPageError {
  padding: 3rem;
  flex-direction: column;
  gap: 2rem;
}
