.navbar-max {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  padding: 0.5rem 0;
  background: #ffeedd;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 15%;
}

.nav__menu {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 3.5rem;
}

.nav__menu li {
  list-style: none;
  transition: var(--transition);
}

.nav__menu a {
  font-size: 1.5rem;
  text-decoration: none;
}

.nav__menu li:hover {
  transform: translateY(-5px);
}

.nav__menu a.active {
  color: var(--color-primary);
  text-decoration: underline;
}
