.services__gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 3rem;
}

.services__gallery-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.services__gallery-card img {
  height: 100%;
}
