* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --max-width-desktop: 1920px;
  --max-width-tablet: 1024px;
  --max-width-mobile: 600px;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 90%;

  --color-primary: #4d60a5;
  --color-hover: #61ce70;
  --color-title: #6ec1e4;
  --color-text: #7a7a7a;
  --color-white: #ffffff;

  --border-radius-1: 2rem;
  --border-radius-2: 1.5rem;
  --border-radius-3: 1rem;

  --transition: all 2s ease;
}

body {
  font-family: "Times New Roman", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
  background-color: #f1f1f1;
}

section:nth-child(odd) {
  background-color: #e1e1e1;
}

section:nth-child(even) {
  background-color: #e7e7e7;
}

.container {
  width: var(--container-width-lg);
  max-width: var(--max-width-desktop);
  margin-inline: auto;
  background-color: lightyellow;
  transition: var(--transition);
  padding: 5rem 0;
}

img {
  display: block;
  object-fit: cover;
}
