.containerForm {
  padding: 2rem;
  background: gainsboro;
}

.containerForm label {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
}

.containerForm input,
.containerForm textarea {
  border: 1px solid #444;
}
